@use './mixins/bem.scss' as *;
@use './mixins/function.scss' as *;

@include b(articleList) {
  margin: 0 15px;
}

@include b(articleListBlock) {
  display: flex;
  align-items: flex-start;
  padding: 10px 5px;
  width: 100%;
  overflow: hidden;
  
  @include e(list) {
    flex: 1;
    // width: 0;
    // margin: 0 10px;
  }

  & + & {
    border-top: 1px solid getCssVar('fill-color', 'alpha-dark');
  }
}