@use './mixins/bem.scss' as *;
@use './mixins/function.scss' as *;

@include b(header) {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  // border-bottom: 1px solid #eee;
  background-color: getCssVar('fill-color', 'alpha');
  // backdrop-filter: blur(5px);
  // @include e(title) {
  //   font-size: 24px;
  //   font-family: 'Kristen ITC';
  // }

  @include e(title) {

    #drinkLessCola {
      width: 50%;
      height: 50%;
      object-fit: contain;
      image-rendering: crisp-edges;
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }
  }
}

@include b(navbar) {
  li {
    // background-color: getCssVar('color-primary', 'light-5');
    border-radius: 5px;
    margin: 0 5px;
    vertical-align: top;
  }

  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}



// .nav {
//   ul {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//   }
//   li {
//     margin: 0 10px;
//     padding: 5px 10px;
//   }
// }