@use './mixins/bem.scss' as *;
@use './mixins/function.scss' as *;

@include b(tab) {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  color: getCssVar('text-color', 'regular');

  @include e(item) {
    padding: 10px;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    transition: padding .1s ease-in-out;
    
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      transform: translate(-50%, 100%);
      height: 2px;
      background-color: getCssVar('text-color', 'primary');
    }

    &:hover {
      color: getCssVar('text-color', 'hover');
    }

    @include when(active) {
      color: getCssVar('text-color', 'primary');
      &::after {
        width: 100%;
      }
    }
  }
}